@use "../../../Assets/bundles.scss" as c;

.heroFigure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border: solid 1.5px c.$gold;

  img {
    border: solid 7px c.$gold;
    display: block;
    object-fit: contain;
  }
  .info {
    margin-left: 17%;

    figcaption {
      text-align: right;
      margin-top: 70%;

      hr {
        background-color: c.$grey;
      }

      #genre {
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      h3 {
        font-size: 2rem;
        text-align: right;
        color: c.$gold;
        font-weight: 500;
        line-height: 1em;
        margin-left: 2em;
        margin-bottom: 0.7rem;
        font-family: c.$playfair;
        font-weight: 600;
      }

      p {
        text-transform: uppercase;
        color: c.$grey;
        font-size: 0.9rem;
      }
      #date {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .heroFigure {
    display: none;
  }
}
