@use "../../../Assets/bundles.scss" as c;
.eventWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;

  .eventFigure {
    border-left: solid 1px c.$brown;
    border-right: solid 1px c.$brown;
    border-bottom: solid 1px c.$brown;
    .imgWrapper {
      border: solid 6px c.$brown;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    figcaption {
      p,
      h2 {
        padding: 0 0.7rem;
        text-align: right;
      }
      p {
        font-size: 0.9rem;
        &:last-of-type {
          font-weight: 600;
        }
      }
      hr {
        background-color: c.$grey;
        font-weight: 400;

        text-align: right;
        margin-right: 1rem;
        margin-left: 2rem;
      }
      h2 {
        font-size: 2rem;
        text-align: right;
        color: c.$gold;
        font-weight: 500;
        line-height: 1em;
        margin-left: 2em;
      }
      .buttons {
        display: flex;
        justify-content: space-evenly;

        button {
          margin: 0.4rem;
          padding: 0.6rem;
          border: none;
          width: 40%;
          a {
            text-decoration: none;
            color: white;
            font-weight: bold;
          }
        }
        .readMore {
          background-color: c.$grey;
        }
        .ticket {
          background-color: c.$gold;
        }
      }
    }
  }
}
.allEvents {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-bottom: 2rem;
  button {
    margin-bottom: 0.4rem;
    padding: 0.6rem;
    border: none;
    width: 20%;
    background-color: c.$brown;
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1000px) {
  .eventFigure {
    margin: 1rem;
    grid-gap: 0;
  }
  .allEvents {
    justify-content: center;
    button {
      width: 40%;
    }
  }
}
