@use "../../../Assets/bundles.scss" as c;

.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  color: c.$grey;
  z-index: 9999;
  padding: 0.5rem 0;

  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }

  .brand-name {
    margin-left: 1rem;
    width: 15rem;
  }
  .navigation-menu {
    margin-left: auto;

    ul {
      display: flex;
      padding: 0;

      li {
        list-style-type: none;
        margin: 0 1rem;

        a {
          text-decoration: none;
          display: block;
          width: 100%;
          color: c.$grey;
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .hamburger {
      display: block;
    }
    .navigation-menu {
      ul {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: white;
        display: none;

        li {
          text-align: center;
          margin: 0;

          &:hover {
            border: solid c.$gold 2px;
            border-radius: 1rem;
          }
          a {
            color: c.$grey;
            width: 100%;
            padding: 1.5rem 0;

            &:hover {
              color: c.$gold;
            }
          }
        }
      }
    }
  }
  .navigation-menu.expanded {
    ul {
      display: block;
    }
  }
}
