@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

// Fonts
$titillium: "Titillium Web";
$playfair: "Playfair Display";

// Colors
$gold: #d39d5b;
$brown: #ad7a51;
$grey: #30454c;
$green: #61e692;

