@use "../../../Assets/bundles.scss" as c;

.allEventsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  .singleEvent {
    display: grid;
    grid-template-columns: 20% 20% 20% 35%;
    border: 1px solid c.$gold;
    align-items: center;
    width: 100%;

    &:first-of-type {
      margin-top: 1rem;
    }
    &:last-of-type {
      margin-bottom: 1rem;
    }

    img {
      max-width: 80%;
      height: 7.5em;
      align-items: left;
      border: 6px solid c.$gold;
      display: block;
      object-fit: cover;
    }

    h2 {
      font-size: 1.5rem;
      color: c.$gold;
      font-weight: 500;
      line-height: 1em;
    }
    p {
      font-size: 1em;
      text-transform: uppercase;
      &:last-of-type {
        font-weight: 600;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-evenly;
      margin-left: 10rem;
      width: 70%;

      .readMore {
        background-color: c.$grey;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.6rem;
      }
      .ticket {
        background-color: c.$gold;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.6rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .allEventsWrapper {
    margin: 1rem;

    .singleEvent {
      margin: 0;

      img {
        max-width: 90%;
        height: 9em;
      }
      h2 {
        font-size: 1.2rem;
        padding: 1rem;
      }

      .buttons {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
        gap: 0.5rem;
        margin: 0.5rem;
        button {
          width: 60%;
        }
      }
    }
  }
}
