@use "../../../Assets/bundles.scss" as c;

.eventDetWrap {
  border: solid 1px c.$brown;
  border-top: 0;
  width: 100%;

  .eventDetFig {
    #eventImg {
      border: solid 6px c.$gold;
      width: 99%;
      height: 600px;
    }

    #detailsEvent {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      padding: 0.5rem;

      #date {
        font-weight: 600;
      }

      #price {
        text-transform: uppercase;
        color: c.$grey;
      }
    }
    hr {
      background-color: lightgrey;
      margin: 1rem;
    }
    #genreInfo {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      h1 {
        font-size: 2rem;
        color: c.$gold;
        font-weight: 500;
        line-height: 1em;
      }
      p {
        text-transform: uppercase;
      }
      .buttons {
        padding-top: 1rem;
        margin: 1rem;
        button {
          margin: 0.4rem;
          padding: 0.5rem;
          color: white;
          font-weight: bold;
          border: none;
          width: 100%;
          background-color: c.$brown;
        }
      }
    }
    #description {
      color: c.$gold;
      margin: 0.6rem;
    }
    h2 {
      margin: 1rem;
    }
    .actorContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      .actorWrap {
        .actorFigure {
          margin: 1rem;
          border: solid 1px c.$brown;
          border-top: 0;
          height: 250px;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            display: block;
          }
          p {
            text-align: center;
            color: c.$gold;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .eventDetWrap {
    border: none;
    margin: 0;

    .eventDetFig {
      .imgDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        #eventImg {
          max-width: 90%;
          height: 300px;
          border: none;
        }
      }
    }
  }
}
